---
import "../styles/global/styles.css";
import { ContactForm } from "../components/contact/ContacForm";
import styles from "../styles/contact/styles.module.css";
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout title={"Contacto"}>
  <main class={styles.main}>
    <section class={styles.box}>
      <div class={styles.banner}>
        <h2>쮻esea contactarnos?</h2>
        <p>
          Si necesita asistencia con el uso de nuestro sitio, desea realizar una
          consulta o requiere informaci칩n adicional, con gusto estamos para
          ayudarle. Nuestro equipo de soporte estar치 encantado de atenderle y
          brindarle una respuesta lo antes posible.
        </p>
      </div>

      <div class={styles.container}>
        <div class={styles.infoCard}>
          <h3>游닎 Escr칤banos a:</h3>
          <p>
            Si necesita asistencia con el sitio, tiene consultas sobre
            publicaciones, desea reportar un problema o simplemente quiere
            recibir m치s informaci칩n, puede escribirnos directamente a:
          </p>
          <p><strong>crautosuna2025@gmail.com</strong></p>

          <h3>游 Ll치menos al:</h3>
          <p>
            Nuestro equipo de atenci칩n est치 disponible para ayudarle con
            cualquier duda relacionada con veh칤culos, vendedores, publicaciones
            o soporte t칠cnico.
          </p>
          <p><strong>+506 83150283</strong></p>
        </div>

        <div class={styles.formCard}>
          <ContactForm client:load />
        </div>
      </div>
    </section>
  </main>
</MainLayout>