---
import { Background } from "../components/background/Background";
import { Footer } from "../components/footer/FooterCustom";
import { HeaderPage } from "../components/header/HeaderPage";
import "../styles/global/styles.css";
import styles from "../styles/profile/styles.module.css";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content={Astro.generator} />
    <title>profile</title>
  </head>
  <body>
    <Background client:load />
    <HeaderPage client:load />
    <div class={styles.containerView}>
      <div class={styles.containerProfile}>
        <div class={styles.headProfile}>
          <p>{'mi perfil de usuario'.toUpperCase()}</p>
        </div>
        <div class={`${styles.itemsProfile} ${styles.containerProfilePhoto}`}>
          <p class={styles.itemsTitle}>Foto de Perfil</p>
          <img class={styles.profilePhoto}  src="ram3.avif" alt="foto de perfil">
          <input type="hidden" />
        </div>
        <div class={styles.itemsProfile}>
          <p class={styles.itemsTitle}>Nombre</p>
          <input type="text" class={`glass ${styles.itemsData}`} />
        </div>
        <div class={styles.itemsProfile}>
          <p class={styles.itemsTitle}>Apellidos</p>
         <input type="text" class={`glass ${styles.itemsData}`} />
        </div>
        <div class={styles.itemsProfile}>
          <p class={styles.itemsTitle}>Email</p>
          <input type="email" class={`glass ${styles.itemsData}`} />
        </div>
        <div class={styles.itemsProfile}>
          <p class={styles.itemsTitle}>Cedula</p>
          <input type="email" class={`glass ${styles.itemsData}`} />
        </div>
        <div class={styles.itemsProfile}>
          <p class={styles.itemsTitle}>Edad</p>
          <input type="number" class={`glass ${styles.itemsData}`} />
        </div>
        <div class={styles.itemsProfile}>
          <p class={styles.itemsTitle}>Rol</p>
          <input type="text" disabled class={`glass ${styles.itemsData}`} />
        </div>
      </div>
      <div class={styles.containerPassword}>

      </div>
    </div>
    <Footer client:load />
  </body>
</html>
